@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
    font-family: inherit;
    display: flex;
    height: 100vh;
    background-color: black;
    color: white;

}
/* side bar */
.navbar{
    width: 400px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0px 0px;
    height: 100%;
}
.categories{
    width: 220px;
    height: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
}

.logo{
    padding: 8px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 100%;

}

.logo:hover{
    background-color: rgb(22 24 28);
    visibility: visible;
    opacity: 1;
}

.menu-item {
    /* width: 100%; */
    color: #e7e9ea;
    display: flex;
    align-items: stretch;
    border-radius: 1.5rem;
    align-items: center;
    height: 40px;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    gap: 20px; /* it basically replaced margin but also worked for svg */
}

.active {
    font-weight: bolder;
}


.menu-item:hover{
    background-color: rgb(22 24 28);
    visibility: visible;
    opacity: 1;
}
 .material-icons { 
    width: 1.75rem;
    height: 1.75rem;
}
.tweet-button{
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 1.5rem;
    width: 85%;
    height: 40px;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 2px;
    margin-top: 10px;
    cursor: pointer;
}

.tweet-button:hover{
    filter: brightness(90%);  /* adds a sight hue of grey when hovering*/
}
.account-details{
    width: 220px; 
    height: 15%;

}

.profile{
    background-color: black;
    color: white;
    display: flex;
    align-items: stretch;
    border: none;
    border-radius: 2.0rem;
    width: 93%;
    height: 60px;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 2px;
    margin-top: 20px;
}

.profile-info{
    display: flex;
   
}

.profile:hover{
    background-color: rgb(15, 15, 15);
    visibility: visible;
    opacity: 1;
}


.profile img{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom:4px ;
}

.username{
    margin-bottom: 0px;
}
.at{
    font-size: 10px;
    color: rgb(113, 118, 123);
}

.more .material-icons{
    margin-left: 60px;
    margin-top: 10px;
}

svg {
    fill: white; /* Makes SVG visible */
    width: 24px;
    height: 24px;
}

.mid-section{
    width: 460px;
    border-right: 1px solid rgb(113, 118, 123);
}

.mid-section-nav{
    height: 7%;
    display: flex;
    justify-content: space-between;
    
}

.mid-section-nav span{
    color: #e7e9ea;
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mid-section-nav .following{
    color: #5a5e62;
    font-weight: 500;
}

.mid-section-nav span:hover{
    background-color: rgb(22 24 28);
    visibility: visible;
    opacity: 1;
}

.new-tweet{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid rgb(113, 118, 123);
    border-right: none;

}

.profile-pic{
    width: 10%;
}

.profile-pic img{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom:4px ;
    margin-left: 10px;
}
.tweet-section{
    width: 87%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom:4px ;
    margin-left: 10px;
}

.input-section{
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-section input{
   width: 95%;
   background-color: black;
   color: #e7e9ea;
   border: none;
}

.attachment-section{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.attachments{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.attachments span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    cursor: pointer;
}

.attachments span:hover{
    background-color: hsla(181, 25%, 57%, 0.13);
}
.attachments svg{
    width: 16px;
    height: 16px;
}

.attachments svg path{
    fill: rgb(26 137 213);
    visibility: visible;
    opacity: 1;
}
    
.post-button{
    width: 50%;
    display: flex;
    justify-content: right;
}

.post-button .tweet-button{
    background-color: rgb(120 122 122);
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
    width: 60px;
    height: 30px;
    padding: 4px 6px;
    font-size: 13px;
    cursor: default;
}
.post-button .tweet-button:hover{
    filter: brightness(100%);
}
